# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
env/

# Environment files
.env
.env.*

# API keys / local config
config_local.py

# Build / packaging
build/
dist/
*.egg-info/
*.egg

# Test / coverage cache
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
__MACOSX/
Thumbs.db

# Logs
*.log

# Data
data/raw/*
data/processed/*
data/final/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/final/.gitkeep

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/