# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Environment files
.env
.env.*
env/

# API keys / local config
config_local.py

# OS
.DS_Store

# Logs
*.log

# Data
data/raw/*
data/processed/*
data/final/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/final/.gitkeep

# Jupyter
.ipynb_checkpoints/

#vscode
.vscode/